<div *ngIf="!pais; else divPais" class="alert alert-info">
    Esperando respuesta del servidor...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12" >
            <h1>Pais: <small>{{pais.name.common}}</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img [src]="pais.flags.png" [alt]="pais.name.common" class="img-fluid">
        </div>
        <div class="col">
            <h3>Informacón</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <b>Capital: </b> {{pais.capital}}
                </li>
                <li class="list-group-item">
                    <b>Subregion: </b> {{pais.subregion}}
                </li>
                <li class="list-group-item">
                    <b>Region: </b> {{pais.region}}
                </li>
                <li class="list-group-item">
                    <b>Poblacion: </b> {{pais.population | number}}
                </li>
            </ul>
        </div>
    </div>
    <h3>Traduciones</h3>
    <div class="row">
        <div class="col">
            <span class="badge bg-primary"> {{pais.translations['spa'].common}} </span>
            <span class="badge bg-primary"> {{pais.translations['ara'].common}} </span>
            <span class="badge bg-primary"> {{pais.translations['fra'].common}} </span>
            <span class="badge bg-primary"> {{pais.translations['deu'].common}} </span>
            <span class="badge bg-primary"> {{pais.translations['rus'].common}} </span>
            <span class="badge bg-primary"> {{pais.translations['jpn'].common}} </span>
        </div>
    </div>

    <pre>
        {{pais | json}}
    </pre>
</ng-template>